<html lang="en">
<head>

    <meta charset="UTF-8">
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css" />
    <title>File Dropper</title>
</head>
<body>
<div style="margin-left: 5%">

    <div class="margin_div">
        <label class="textarea_style" for="countError"> Возможное количество ошибок в абзаце</label>
        <input value="0" class="number form-field" type="number" id="countError" />
    </div>

    <div class="margin_div">
        <label class="textarea_style" for="threshold"> Интенсивность разбивки</label>
        <input value="200" class="number form-field" type="number" id="threshold" />
    </div>

    <div class="margin_div">
        <label class="textarea_style" for="group_paragraph">Выводить весь пункт</label>
        <input type="checkbox" id="group_paragraph" checked="checked">
    </div>

    <div class="margin_div">
        <label class="textarea_style" for="page_header">Колонтитул</label>
        <input type="checkbox" id="page_header">
    </div>

    <div class="parent">
        <div class="column">
            <form
                method="POST"
                action="/upload"
                class="dropzone dz-clickable"
                id="docxForm"
                enctype="multipart/form-data"
            >
            </form>
            <textarea id="docx" class="textarea_style" name="docx" rows="25" cols="86"></textarea>
        </div>


        <div class="column">
            <form
                method="POST"
                action="/upload"
                class="dropzone dz-clickable"
                id="dropper"
                enctype="multipart/form-data"
            >
            </form>
            <textarea id="pdf" class="textarea_style" name="pdf" rows="25" cols="86"></textarea>
        </div>
    </div>
    <div id="loader"></div>
    <button id="unified" class="custom-btn btn-13" type="submit">СОПОСТАВИТЬ ПО ПУНКТАМ</button>

    <button id="downloadReport" class="custom-btn btn-13" type="submit">СКАЧАТЬ</button>
</div>
    <script type="application/javascript">
        Dropzone.options.dropper = {
            paramName: "file",
            chunking: true,
            forceChunking: true,
            url: "/upload",
            maxFilesize: 1025, // megabytes
            chunkSize: 250000, // bytes,
            headers: {"page_header": $("#page_header").is(":checked") ? "true" : "false"},
            success: function(file, response){
                console.log(response);
<!--                if (isObject(variable)) {-->
<!--                    $("textarea#pdf").val(response["text]);-->
<!--                } else {-->
<!--                    $("textarea#pdf").val(response);-->
<!--                }-->
                $("textarea#pdf").val(response);
                document.getElementsByClassName("dz-filename")[1].getElementsByTagName('span')[0].innerHTML = "Отредактированный файл.pdf"
            }
        }

        Dropzone.options.docxForm = {
            paramName: "file",
            chunking: true,
            forceChunking: true,
            url: "/upload",
            maxFilesize: 1025, // megabytes
            chunkSize: 250000, //
            headers: {"page_header": $("#page_header").is(":checked") ? "true" : "false"},
            success: function(file, response){
                console.log(response);
<!--                if (isObject(variable)) {-->
<!--                    $("textarea#docx").val(response["text"]);-->
<!--                } else {-->
<!--                    $("textarea#docx").val(response);-->
<!--                }-->
                $("textarea#docx").val(response)
                document.getElementsByClassName("dz-filename")[0].getElementsByTagName('span')[0].innerHTML = "Исходный файл.docx"
            }
        }

        function isObject (n) {
          return Object.prototype.toString.call(n) === '[object Object]';
        }

        document.getElementById("unified").onclick= async ()=> {
            var threshold = parseInt(document.getElementById('threshold').value);
            var docx = document.getElementById('docx').value;
            var pdf = document.getElementById('pdf').value;
            const dictFile = {"docx": docx, "pdf": pdf, "threshold": threshold};
            document.getElementById("loader").style.display = "block";
            let fetchPromise = await fetch("http://10.23.4.205:5000/unified/", {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(dictFile),
                    mode: 'cors'
                });
            document.getElementById("loader").style.display = "none";
            console.log(fetchPromise);
            const response = await fetchPromise.json();
            console.log(response);
            $("textarea#docx").val(response['docx']);
            $("textarea#pdf").val(response['pdf']);
        };

        document.getElementById("downloadReport").onclick= async ()=> {
            var countError = parseInt(document.getElementById('countError').value);
            var docx = document.getElementById('docx').value
            var pdf = document.getElementById('pdf').value
            var group_paragraph = $("#group_paragraph").is(":checked") ? true : false;
            var fileNameDocx = document.getElementsByClassName("dz-filename")[0].getElementsByTagName('span')[0].innerText
            var fileNamePdf = document.getElementsByClassName("dz-filename")[1].getElementsByTagName('span')[0].innerText
            const dictFile = {
                "docx": docx,
                "pdf": pdf,
                "countError": countError,
                "group_paragraph": group_paragraph,
                "file_name_docx": fileNameDocx,
                "file_name_pdf": fileNamePdf
            }
            console.log(dictFile)
            document.getElementById("loader").style.display = "block";
            let fetchPromise = await fetch("http://10.23.4.205:5000/get_disagreement/", {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(dictFile),
                    mode: 'cors'
                });
            document.getElementById("loader").style.display = "none";
            console.log(fetchPromise)
            const blob = await fetchPromise.blob();
            const newBlob = new Blob([blob]);
            const blobUrl = window.URL.createObjectURL(newBlob);
            const link = document.createElement('a');
            link.href = blobUrl;
            link.setAttribute('download', `data.docx`);
            document.body.appendChild(link);
            link.click();
            link.parentNode.removeChild(link);
            window.URL.revokeObjectURL(blobUrl);
        };
    </script>
</body>
</html>
